*{
    background-color: #379683;
    padding: 0px;
    margin: 0px;
    webkit-box-sizing: border-box;
    }
body{
    font-family: cursive;
    font-size: 14px;
    font-weight: normal;
    height: 100%;
    background-color:khaki;
    
}
.header{
    padding: 15px  35px;
    display: inline-block;
    width: 100%;
}
