*{
    background-color: gray:
     padding: 0px;
    margin: 0px;
    
    }
html,body{
    font-family: cursive;
    font-size: 14px;
    font-weight: normal;
    height: 100%;
    background-attachment: fixed;
    background-color: grey;
    
}
.header{
    padding: 15px  35px;
    display: inline-block;
    width: 100%;}
.img{
    width: 400px;
    border-radius: 200px;
    float: left;
}

.menu{
    float: right;
}
.menu ul li{
    display: inline-block;
     line-height: 25px;

}
.menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    padding: 5px 20px;
}
.name{
    width: 300px;
    margin-top: 200px;
    }
.name h1{
        color: rgb(201, 187, 68);
    font-size: 90px;
    line-height: 60px;
  text-align: right;
  letter-spacing: 5px;
}
.name h3{
    color: rgb(211, 205, 207);
    font-size: 25px;
    letter-spacing: 6px;
}
.menu ul li a:hover{
    color: hotpink;

}
.feature{
    height: 90%;
    position: absolute;
        bottom: 0;
}
.social{
    font-size: 25px;
}
.social a{
    text-decoration: none;
    color: indigo;
    padding: 20px;
    font-size: 14px;
    
}
.social a:hover{
    color: black;
}
.about-photo{
    float: right;
    width: 200px;

}
.about{
    color: rgb(34, 33, 27);
    font-size: 30px;
    font-weight: bold;
}